body {
    background: silver;
}

div.abas nav a {
    display: inline-block;
    padding: 5px;
    border: 1px solid;
}

div.abas div {
    background: white;
    padding: 10px;
    display: none;
}

div.abas div:target {
    display: block;
}